@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: lightgray;
    padding-left: 16px;
    margin-bottom: 36px;
    box-shadow: 0 -6px 10px 10px rgba(0, 0, 0, 0.5);
}

.title{
    font-weight: 600;
    font-size: 24px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 36px;
}

.grid{
    display: grid;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.ind__grid{
    user-select: none;
}

.grid__line{
    border: 0.5px solid gray;
}

.options{
    height: 500px;
    width: 300px;
    background-color: lightgray;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

input{
    margin-bottom: 16px;
    border: none;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

button{
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 16px;
    width: 200px;
    cursor: pointer;
}

button:hover{
    background-color: gray;
}

.active{
    background-color: black;
    color: white;
}

.footer{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: lightgray;
    padding-left: 16px;
}

i{
    font-size: 24px;
}

a{
    color: black;
    text-decoration: none;
}

.author{
    font-weight: 400;
    font-size: 18px;
}